@mixin input-size {
  border-radius: 1.6rem;
  padding: .8rem 1.6rem;
  font-size: 1.6rem;
  margin: .2rem 0;
}
@mixin button {
  background:linear-gradient(
      to right bottom,
      $color-green,
      $color-blue);
    border: none;
  
    &:hover {
      background:linear-gradient(
        to right bottom,
        lighten($color-green, 5%),
        lighten($color-blue, 5%));
      cursor: pointer;
      box-shadow: 0 .5rem .5rem $color-grey2;
      transform: translateY(-.2rem);
    }
    &:active {
      box-shadow: 0 .2rem .2rem $color-grey2;
      transform: translateY(0);
    }
}