
$color-grey: #f5f5f5; // Light Grey
$color-grey2: #969696; // Med Grey

$color-green: #cdeebf; // Light Green
$color-green-transparent: rgba(205, 238, 191, .7); // Light Green
$color-blue: #aadaff; // Light Blue
$color-blue-transparent: rgba(170, 218, 255, .7); // Light Blue
$color-yellow: #fbe18a;